vendor/*
logs/*

credentials/*
credentials/.gitkeep

data/users.txt
data/chats_data/*
!data/chats_data/.gitkeep

uploads/acts/*
!uploads/acts/.gitkeep
uploads/contracts/*
!uploads/contracts/.gitkeep
uploads/designs/*
!uploads/designs/.gitkeep
uploads/money/*
!uploads/money/.gitkeep
uploads/tabletops/*
!uploads/tabletops/.gitkeep
